<div class="NavBar">

      <div class="divLogo">
       <img id=logoArgentina src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1643935033/APLogo-20-20.png">
      </div>

     <div class="divBotones">
      <ul class="redes-sociales">
         <a href="https://www.facebook.com/mariana.delacalle.9" class="btn-Facebook"> <i class="fab fa-facebook-square" style="color: white;"></i> </a>
         <a href="https://www.instagram.com/?hl=es-la" target="-blank"class="btn-instagram"> <i class="fab fa-instagram-square" style="color: white;" ></i> </a>
         <a href="https://twitter.com/MarianadelaCal3" target="-blank" class="btn-twitter"> <i class="fab fa-twitter-square" style="color: white;"></i> </a>
         <a href="#"><button type="button" class="btn btn-outline-secondary" style="color: white;">Login </button></a>

     
     </ul>
     </div>

</div>
